body {
  background-color: black;
  color: #00ff66;
  font-family: "Courier New", monospace;
  line-height: 1.6;
  text-shadow: 0 0 5px #00ff66, 0 0 10px #00ff66;
}

.terminal {
  background: #000000;
  border: 2px solid #00ff66;
  padding: 1rem;
  max-width: 768px;
  margin: auto;
  box-shadow: 0 0 20px #00ff66, 0 0 20px #00ff66;
  position: relative;
  overflow: hidden;
  border-radius: 0.5rem;

  animation: flicker 3s infinite;
}

.terminal::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 255, 102, 0.05),
    rgba(0, 255, 102, 0.05) 1px,
    transparent 2px,
    transparent 4px
  );
  pointer-events: none;
  z-index: 1;
}

button {
  font-family: inherit;
}

.blinking-cursor::after {
  content: "_";
  display: inline-block;
  margin-left: 4px;
  animation: blink 1s steps(2, start) infinite;

}

@keyframes blink {
  to {
    visibility: hidden;
  }
}

@keyframes flicker {
    0% {opacity: 1;}
    5% {opacity: 0.95;}
    10% {opacity: 0.98;}
    15% {opacity: 0.97;}
    20% {opacity: 0.94;}
    25% {opacity: 0.99;}
    30% {opacity: 0.96;}
    35% {opacity: 0.97;}
    40% {opacity: 0.99;}
    45% {opacity: 0.98;}
    50% {opacity: 1;}
    100% {opacity: 0.97;}
}
